
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<div class="hero-text-box">
    <h1>LOG IN</h1>
    <div class="login-form">
        <form method="post"  enctype="multipart/form-data" asp-controller="Login" asp-action="Index">
            <label>Username</label>
            <input type="text" alt="username" name="userName"  asp-route="Custom">
            <label>Password</label>
            <input type="password" alt="password" name="password" asp-route="Custom">
            <a class="btn btn-ghost" id="submit-ghost" href="#">
                <input type="submit" value="Log In" class="login-submit"/>
            </a>
        </form>
    </div>
    <h1>@ViewBag.Name</h1>
</div>

