<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendors/css/normalize.css" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendors/css/grid.css" type="text/css" asp-append-version="true" />
    <title>B&S</title>
</head>
<body>
    <header>
        <nav>
            <div class="row">
                <h2 class="logo">
                    <a class="logo-side">
                        @Html.ActionLink("B&S", "Index", "Home", null, null)
                    </a>
                </h2>
                <ul class="main-nav">
                    <li>
                        <a>
                            @Html.ActionLink("Log in", "Index", "Login", null, null)
                        </a>
                    </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">For developers</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
