
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.assets.cache
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.csprojAssemblyReference.cache
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.assets.cache
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.csprojAssemblyReference.cache
TestStoreBackend/obj/Debug/netcoreapp3.1/TestStoreBackend.csprojAssemblyReference.cache
*.props
*.cs
.vs/StoreProject/DesignTimeBuild/.dtbcache.v2
.vs/StoreProject/v16/.suo
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.assets.cache
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.csprojAssemblyReference.cache
StoreBackend/obj/project.assets.json
StoreBackend/obj/project.nuget.cache
StoreBackend/obj/StoreBackend.csproj.nuget.dgspec.json
StoreBackend/obj/StoreBackend.csproj.nuget.g.props
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.assets.cache
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.csprojAssemblyReference.cache
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.RazorAssemblyInfo.cache
StoreFrontend/obj/project.assets.json
StoreFrontend/obj/project.nuget.cache
StoreFrontend/obj/StoreFrontend.csproj.nuget.dgspec.json
StoreFrontend/obj/StoreFrontend.csproj.nuget.g.props
StoreFrontend/StoreFrontend.csproj.user
TestStoreBackend/obj/Debug/netcoreapp3.1/apphost.exe
TestStoreBackend/obj/Debug/netcoreapp3.1/TestStoreBackend.assets.cache
TestStoreBackend/obj/Debug/netcoreapp3.1/TestStoreBackend.csprojAssemblyReference.cache
TestStoreBackend/obj/project.assets.json
TestStoreBackend/obj/project.nuget.cache
TestStoreBackend/obj/TestStoreBackend.csproj.nuget.dgspec.json
TestStoreBackend/obj/TestStoreBackend.csproj.nuget.g.props
.vs/StoreProject/DesignTimeBuild/.dtbcache.v2
.vs/StoreProject/v16/.suo
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.assets.cache
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.csprojAssemblyReference.cache
StoreBackend/obj/project.assets.json
StoreBackend/obj/project.nuget.cache
StoreBackend/obj/StoreBackend.csproj.nuget.dgspec.json
StoreBackend/obj/StoreBackend.csproj.nuget.g.props
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.assets.cache
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.csprojAssemblyReference.cache
StoreFrontend/obj/project.assets.json
StoreFrontend/obj/project.nuget.cache
StoreFrontend/obj/StoreFrontend.csproj.nuget.dgspec.json
StoreFrontend/obj/StoreFrontend.csproj.nuget.g.props
TestStoreBackend/obj/Debug/netcoreapp3.1/TestStoreBackend.assets.cache
TestStoreBackend/obj/Debug/netcoreapp3.1/TestStoreBackend.csprojAssemblyReference.cache
TestStoreBackend/obj/project.assets.json
TestStoreBackend/obj/project.nuget.cache
TestStoreBackend/obj/TestStoreBackend.csproj.nuget.dgspec.json
TestStoreBackend/obj/TestStoreBackend.csproj.nuget.g.props
.vs/StoreProject/DesignTimeBuild/.dtbcache.v2
.vs/StoreProject/v16/.suo
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.assets.cache
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.csprojAssemblyReference.cache
StoreBackend/obj/project.assets.json
StoreBackend/obj/project.nuget.cache
StoreBackend/obj/StoreBackend.csproj.nuget.dgspec.json
StoreBackend/obj/StoreBackend.csproj.nuget.g.props
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.assets.cache
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.csprojAssemblyReference.cache
StoreFrontend/obj/project.assets.json
StoreFrontend/obj/project.nuget.cache
StoreFrontend/obj/StoreFrontend.csproj.nuget.dgspec.json
StoreFrontend/obj/StoreFrontend.csproj.nuget.g.props
TestStoreBackend/obj/Debug/netcoreapp3.1/TestStoreBackend.assets.cache
TestStoreBackend/obj/Debug/netcoreapp3.1/TestStoreBackend.csprojAssemblyReference.cache
TestStoreBackend/obj/project.assets.json
TestStoreBackend/obj/project.nuget.cache
TestStoreBackend/obj/TestStoreBackend.csproj.nuget.dgspec.json
TestStoreBackend/obj/TestStoreBackend.csproj.nuget.g.props
*.props
*.json
*.v2
.vs/StoreProject/DesignTimeBuild/.dtbcache.v2
.vs/StoreProject/v16/.suo
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.assets.cache
StoreBackend/obj/Debug/netcoreapp3.1/StoreBackend.csprojAssemblyReference.cache
StoreBackend/obj/project.assets.json
StoreBackend/obj/project.nuget.cache
StoreBackend/obj/StoreBackend.csproj.nuget.dgspec.json
StoreBackend/obj/StoreBackend.csproj.nuget.g.props
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.assets.cache
StoreFrontend/obj/Debug/netcoreapp3.1/StoreFrontend.csprojAssemblyReference.cache
StoreFrontend/obj/project.assets.json
StoreFrontend/obj/project.nuget.cache
StoreFrontend/obj/StoreFrontend.csproj.nuget.dgspec.json
StoreFrontend/obj/StoreFrontend.csproj.nuget.g.props
TestStoreBackend/obj/Debug/netcoreapp3.1/TestStoreBackend.assets.cache
TestStoreBackend/obj/Debug/netcoreapp3.1/TestStoreBackend.csprojAssemblyReference.cache
TestStoreBackend/obj/project.assets.json
TestStoreBackend/obj/project.nuget.cache
TestStoreBackend/obj/TestStoreBackend.csproj.nuget.dgspec.json
TestStoreBackend/obj/TestStoreBackend.csproj.nuget.g.props
*.cache
*.dll
*.json
*.cache
