
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero-text-box">
    <h1>Buy and sell</br>Buy and sell your old stuff</h1><!--Only use one time-->
    <a class="btn btn-full" href="#">
        Sign Up
    </a>
    <a class="btn btn-ghost" href="#">Show me more</a>
</div>